.input__container {
  display: flex;
  flex-direction: column;
  margin: 10px 2px;
}

label {
  width: 95%;
  align-self: center;
}

input {
  border: none;
  border-bottom: 2px solid #dfdcd9;
  width: 95%;
  height: 4vh;
  align-self: center;
  outline: none;
}

.input__container-prepend {
  color: #a3a0a0;
  padding: 0.5em;
  padding-right: 0;
  flex-grow: 0;
  display: table-cell;
  vertical-align: middle;
}

input[type="text"]:focus {
  border-bottom: 3px solid #555;
}

input.input__toAccount {
  margin: 10px;
}

.make-transfer-wdg__react-select-container {
  width: 95%;
  align-self: center;
  outline: none;

  margin: auto;
}

span.recent-transaction-wdg__filters-prepend-sign:hover {
  color: black;
  cursor: pointer;
}

span.recent-transaction-wdg__filters-prepend-sign:active {
  /* margin-top: 14px; */

  padding-top: 10px;
  
}
