/* default */
.widget__container {
  background: #fff;

  /* border-left: 1px solid#dfdcd9;
  border-right: 1px solid#dfdcd9;
  border-bottom: 1px solid#dfdcd9;
  border-top: none; */

  margin: 10px;
  border-radius: 2px;
}

.widget__header-wrapper {
  background-color: #308397;
  height: 13%;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.widget__header-wrapper h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  text-align: center;
  color: #fff;
  height: 100%;
}

span.widget-header-icon {
  float: left;
  margin: auto;
  margin-left: 5px;
  position: absolute;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

span.widget-header-icon img {
  opacity: 0.2;
  width: 2.5vw;
}

.recent-transaction-wdg {
  /* position: relative; */
  /* display:flex; */
}

/* Make transfer widget */
.make-transfer-wdg {
  height: 45vh;
}

/* Recent transaction widget */

.recent-transaction-wdg__wrapper {
  border: 1px dotted blue;
  height: 87%;
  padding-left: 5px;
  padding-right: 5px;

  overflow-y: scroll;
}

/* filters section */
.recent-transaction-wdg__filters {
  height: 12%;
  border: 2px dotted greenyellow;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.recent-transaction-wdg__filters-input {
  width: 100%;
}

.recent-transaction-wdg__filters-sort-by-txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 15px;
}

ul.recent-transaction-wdg__filters-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 75%;
  justify-content: center;
  align-self: center;
}

li.recent-transaction-wdg__filters-li {
  border: 1px solid #ddd;
  padding: 0px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.recent-transaction-wdg__filters-li > span {
  display: flex;
  flex-direction: row;
}

img.recent-transaction-wdg__filters-li-sort-by-icon {
  width: 1vw;
  height: auto;
  padding: 1px;
  margin: 1px;

  filter: grayscale(150%);
  opacity: .5;
}

li.recent-transaction-wdg__filters-li:hover {
  background-color: #dfdcd9;
}

/* results section  */
.recent-transaction-wdg__results {
  height: auto;
  border: 2px dotted rgb(255, 47, 168);
}

ul.recent-transaction-wdg__results-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

li.recent-transaction-wdg__results-li {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 1px solid #dfdcd9;
}

.recent-transaction-wdg__results-li-row-one {
  width: 75%;
  border: 2px dotted blue;
  display: flex;
  flex-direction: row;
}

.recent-transaction-wdg__results-li-row-one > p {
  padding: 5px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 3vw;
}

div.recent-transaction-wdg__results-li-row-one-img-wrapper {
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 3vw;
}

p.recent-transaction-wdg__results-li-row-one-transaction-info-type {
  color: #a3a0a0;
}

img.recent-transaction-wdg__results-company-img {
  width: 3.5vw;
  height: auto;

  filter: grayscale(100%);
}

.recent-transaction-wdg__results-li-row-two {
  display: flex;
  justify-content: center;
  flex-direction: column;

  border: 2px dotted red;
  width: 25%;

  position: relative;
}

.recent-transaction-wdg__results-li-row-two > p {
  float: left;
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-weight: 800;
}













/* drop down option for input */

/* .make-transfer-wdg__toAccountInput-radio, .make-transfer-wdg__toAccountInput-option{
    display: none;
}

.make-transfer-wdg__toAccountInput-option{
    padding: 12px 24px;
    cursor: pointer;
}

.make-transfer-wdg__toAccountInput-label{
    cursor: pointer;
}

.make-transfer-wdg__toAccountInput-search-box input{
    font-size: 16px;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.make-transfer-wdg__toAccountInput-selected{
    margin: 10px;
} */





/* .make-transfer-wdg__toAccountInput-options-select-container .make-transfer-wdg__toAccountInput-options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54px;
  } */
  





/* .select-box = .make-transfer-wdg__toAccountInput-options-select-container */

/* .option = .make-transfer-wdg__toAccountInput-option */

/* .selected = .make-transfer-wdg__toAccountInput-selected */


/* .make-transfer-wdg__toAccountInput-options-select-container .make-transfer-wdg__toAccountInput-options-container.active + .make-transfer-wdg__toAccountInput-selected ::after {
    transform: rotateX(180deg);
    top: -6px;
  } */
  
  /* .make-transfer-wdg__toAccountInput-options-select-container .make-transfer-wdg__toAccountInput-options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
  } */
  
  /* .make-transfer-wdg__toAccountInput-options-select-container .make-transfer-wdg__toAccountInput-options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  } */
  
  /* .make-transfer-wdg__toAccountInput-options-select-container .make-transfer-wdg__toAccountInput-option,
  .make-transfer-wdg__toAccountInput-selected  {
    padding: 12px 24px;
    cursor: pointer;
  }
   */
  /* .make-transfer-wdg__toAccountInput-options-select-container .make-transfer-wdg__toAccountInput-option:hover {
    background: #414b57;
  }
  
  .make-transfer-wdg__toAccountInput-options-select-container label {
    cursor: pointer;
  }
  
  .make-transfer-wdg__toAccountInput-options-select-container .make-transfer-wdg__toAccountInput-option .radio {
    display: none;
  } */