/* default */
.widget__container {
  background: #fff;
  margin: 10px;
  border-radius: 2px;
}

.widget__header-wrapper {
  background-color: #308397;
  height: 13%;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.widget__header-wrapper h3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  text-align: center;
  color: #fff;
  height: 100%;
}

span.widget-header-icon {
  float: left;
  margin: auto;
  margin-left: 5px;
  position: absolute;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

span.widget-header-icon img {
  opacity: 0.2;
  width: 2.5vw;
}

/* Make transfer widget */
.make-transfer-wdg {
  height: 45vh;
}

/* Recent transaction widget */
.recent-transaction-wdg__wrapper {
  height: 87%;
  padding-left: 5px;
  padding-right: 5px;

  overflow-y: scroll;
}

/* filters section */
.recent-transaction-wdg__filters {
  height: 12%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.recent-transaction-wdg__filters-input {
  width: 100%;
}

.recent-transaction-wdg__filters-sort-by-txt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 15px;
}

ul.recent-transaction-wdg__filters-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 75%;
  justify-content: center;
  align-self: center;
}

li.recent-transaction-wdg__filters-li {
  border: 1px solid #ddd;
  padding: 0px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.recent-transaction-wdg__filters-li > span {
  display: flex;
  flex-direction: row;
}

img.recent-transaction-wdg__filters-li-sort-by-icon {
  width: 1vw;
  height: auto;
  padding: 1px;
  margin: 1px;

  filter: grayscale(150%);
  opacity: 0.5;
}

li.recent-transaction-wdg__filters-li:hover {
  background-color: #dfdcd9;
}

/* results section  */
.recent-transaction-wdg__results {
  height: auto;
}

ul.recent-transaction-wdg__results-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

li.recent-transaction-wdg__results-li {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 1px solid #dfdcd9;
}

.recent-transaction-wdg__results-li-row-one {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.recent-transaction-wdg__results-li-row-one > p {
  padding: 5px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 3vw;
}

div.recent-transaction-wdg__results-li-row-one-img-wrapper {
  padding: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 3vw;
}

p.recent-transaction-wdg__results-li-row-one-transaction-info-type {
  color: #a3a0a0;
}

img.recent-transaction-wdg__results-company-img {
  width: 3.5vw;
  height: auto;

  filter: grayscale(100%);
}

.recent-transaction-wdg__results-li-row-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  position: relative;
}

.recent-transaction-wdg__results-li-row-two > p {
  float: left;
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-weight: 800;
}

@media only screen and (max-height: 725px) and (max-width: 1215px) {
  .make-transfer-wdg {
    width: 100% !important;
  }

  .recent-transaction-wdg__filters.recent-transaction-wdg__col {
    height: 8%;
  }

  .widget__header-wrapper {
    width: 100% !important;
  }

  .widget__container.recent-transaction-wdg {
    width: 100% !important;
    margin-bottom: 10px;
  }

  .widget__container.recent-transaction-wdg > .widget__header-wrapper {
    height: 8%;
  }
}

@media only screen and (max-height: 725px) and (max-width: 1215px) {
  .widget__container.make-transfer-wdg {
    height: 70%;
  }
}

@media only screen and (max-width: 1215px) {
  .widget__container.make-transfer-wdg {
    height: 80% !important;
  }
}

@media only screen and (max-width: 775px) {
  span.widget-header-icon img {
    width: 5vw;
  }
}

@media only screen and (max-width: 600px) {
  .recent-transaction-wdg__filters {
    flex-direction: column;
  }

  .recent-transaction-wdg__filters.recent-transaction-wdg__col {
    height: 20%;
  }

  .recent-transaction-wdg__filters-li, .recent-transaction-wdg__filters-sort-by-txt {
    height: 80%;
  }

  .recent-transaction-wdg__col .input__container{
      width: 100% !important;
  }
}

@media only screen and (max-width: 430px) {
    .recent-transaction-wdg__filters-ul{
        align-items: center;
    }

    .recent-transaction-wdg__filters-li{
        height: 55%;
    }

    .recent-transaction-wdg__filters-sort-by-txt{
        display: none;
    }
}

@media only screen and (max-height: 700px) {
  .widget__container.make-transfer-wdg{
    height: 25vw;
  }

  .recent-transaction-wdg__filters.recent-transaction-wdg__col{
    height: 18%;
  }
}