.header__container{
    width: 100%; 
    height: auto;
    background-color: #ffffff;

    padding: 10px;
    border-bottom: 3px solid #ed6d32;
}

.header__container > img{
margin: 5px 0px 5px 50px ;
}