.content__container{
    border: 2px dotted purple;
    background: #fff;
    width: 95vw;
    height: 83vh;
    margin: auto;
    margin-top: 5px;

    display: flex;
    flex-direction: row;

    padding: 10px;
    justify-content: center;


}